<div th:fragment="content">
    <h3><i class="bi bi-bar-chart-line"></i> 報表分析</h3>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card p-3">
                <h5>每月訂單趨勢</h5>
                <canvas id="ordersChart" height="200"></canvas>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-3">
                <h5>庫存分布</h5>
                <canvas id="inventoryChart" height="200"></canvas>
            </div>
        </div>
    </div>
   	
	<script th:src="@{/webjars/chart.js/4.4.9/dist/chart.umd.js}"></script>
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    const monthlyLabels = [[${months}]];
	    const monthlyOrders = [[${orderCounts}]];
	    const inventoryLabels = [[${inventoryNames}]];
	    const inventoryData = [[${inventoryValues}]];
	    /*]]>*/
	</script>
	<script th:src="@{/js/scm/reports.js}"></script>
</div>